.optinbee-overlay {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
	opacity: 0;
	transform: scale(0.85);
	transition: opacity 0.3s ease, transform 0.3s ease;
	z-index: 9999999;
}

.show-popup {
	display: flex;
	opacity: 1;
	transform: scale(1);
}

.optinbee-modal {
	background-color: #ffffff;
	color: #13142d;
	border-radius: 5px;
	padding: 2em;
	width: 80%;
	max-width: 600px; /* Adjust based on your preference */
	box-sizing: border-box;
}

.optinbee-modal-title {
	margin-bottom: 0.5em;
	color: #13142d;
	font-size: 40px;
	text-align: center;
	font-weight: 700;
}

.optinbee-modal-subtitle {
	margin-bottom: 1em;
	text-align: center;
}

.optinbee-form-field {
	margin-bottom: 1em;
}

.optinbee-input {
	width: 100%;
	padding: 1em !important;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
}

.optinbee-button {
	width: 100%;
	padding: 0.5em !important;
	background-color: #f8954f;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.optinbee-button:hover {
	background-color: #c7753f;
}

.optinbee-close {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	cursor: pointer;
}

.optinbee-message {
	color: #13142d;
	margin-top: 1em;
	text-align: center;
}
